#
# Site Apache Options (deny indexes, disable SSI, and disable CGI)
#
Options -Indexes -Includes -ExecCGI

#
# Direcory Index Options
#
DirectoryIndex index.php index.pxml index.html

#
# PHP include paths
#
php_value include_path .:./

#
# mod_rewite rules - make URI's friendly
#
RewriteEngine On
    RewriteBase /
    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^.*$ - [S=50]
    RewriteRule ^news/([0-9]{1,})?/?$ /?news_page=$1 [QSA,L]
    RewriteRule ^changelog/(.*)?$ /index.php?op=changelog&cl_ver=$1 [QSA,L]
    RewriteRule ^about/?$  /index.php?op=about [QSA,L]
    RewriteRule ^whatsnew/?$  /index.php?op=whatsnew [QSA,L]
    RewriteRule ^search/?$  /index.php?op=search [QSA,L]
    RewriteRule ^lists/?$  /index.php?op=lists [QSA,L]
    RewriteRule ^software/?$  /index.php?op=software [QSA,L]
    RewriteRule ^downloads/?$  /index.php?op=download [QSA,L]
    RewriteRule ^download/?$  /index.php?op=download [QSA,L]
    RewriteRule ^configure/?$  /index.php?op=configure [QSA,L]
    RewriteRule ^download/ports/?$  /index.php?op=download&ports=true [QSA,L]
    RewriteRule ^development/?$  /index.php?op=development [QSA,L]
    RewriteRule ^screenshots/?$  /index.php?op=screenshots [QSA,L]
    RewriteRule ^support/?$  /index.php?op=support [QSA,L]
    #RewriteRule ^slax/?$  /index.php?op=slax [QSA,L]
    RewriteRule ^faqs/?$  /support/ [R,L]
    RewriteRule ^random-screenthumb$  /common/screenthumb-rot.php [QSA,L]
    RewriteRule ^net-install/?$  /common/net-install.php [QSA,L]
    #RewriteRule ^net-install/current/?$  /common/net-install.php?use_ver=current [QSA,L]
    #RewriteRule ^net-install/64/current/?$  /common/net-install.php?arch=gsb64&use_ver=current [QSA,L]
    RewriteRule ^net-install/64$  /common/net-install.php?arch=gsb64 [QSA,L]
    #RewriteRule ^net-install/unstable/?$  /common/net-install.php?use_ver=unstable [QSA,L]
    RewriteRule ^installation/?$  /download/ [R,L]
    RewriteRule ^build/?$  /development/ [R,L]
    #  this stuff redirs the RSS feed to FeedBurner #
    RewriteCond %{HTTP_USER_AGENT} !^FeedBurner.*
    RewriteRule ^changelog.xml$ http://feeds.feedburner.com/gsb-current-changelog [R,L]
    RewriteRule ^changelog.xml$ /common/changelog2rss.php [L]

#
# error handling
#
ErrorDocument 404 /index.php?op=http_error&errno=404
ErrorDocument 403 /index.php?op=http_error&errno=403
ErrorDocument 401 /index.php?op=http_error&errno=401

#
# misc
#
AddType application/OmniGraffle .graffle
AddDescription "OmniGraffle Document" *.graffle
AddDescription "PNG Graphic" *.png
AddDescription "Portable Document Format" *.pdf
AddDescription "LaTeX" *.tex
AddDescription "LaTeX/LyX" *.lyx
AddDescription "Open Document Format" *.odf
AddDescription "Open Document Format" *.odt
AddDescription "Text File" *.txt

AddIcon (Back,/images/icons/up.png) ..
AddIcon (OmniGraffle,/images/icons/document.png) *.graffle
AddIcon (PDF,/images/icons/document.png) *.pdf
AddIcon (TEX,/images/icons/document.png) *.tex
AddIcon (LYX,/images/icons/document.png) *.lyx
AddIcon (ODF,/images/icons/document.png) *.odf
AddIcon (ODT,/images/icons/document.png) *.odt
AddIcon (TXT,/images/icons/document.png) *.txt
AddIcon (PNG,/images/icons/image.png) *.png

