#
# Site Apache Options (deny indexes, disable SSI, and disable CGI)
#
Options -Indexes +Includes +ExecCGI +FollowSymlinks

#
# Direcory Index Options
#
DirectoryIndex index.php index.html

#
# PHP include paths
#
php_value include_path .:./

#
# mod_rewite rules - make URI's friendly
#
# I should prolly comment/document all the rules?
#
RewriteEngine On
    RewriteBase /
    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^.*$                    -                                                        [S=50]
    RewriteRule ^news/([0-9]{1,})?/?$   /?news_page=$1                                           [QSA,L]
    RewriteRule ^changelog/(.*)?$       /index.php?op=changelog&cl_ver=$1                        [QSA,L]
    RewriteRule ^about/?$               /index.php?op=about                                      [QSA,L]
    RewriteRule ^search/?$              /index.php?op=search                                     [QSA,L]
    RewriteRule ^lists/?$               /index.php?op=lists                                      [QSA,L]
    RewriteRule ^downloads/?$           /index.php?op=download                                   [QSA,L]
    RewriteRule ^download/?$            /index.php?op=download                                   [QSA,L]
    RewriteRule ^donate/?$              /index.php?op=donate                                     [QSA,L]
    RewriteRule ^development/?$         https://github.com/W0CHP/gsb-build-system/               [R,L]
    RewriteRule ^screenshots/?$         /index.php?op=screenshots                                [QSA,L]
    RewriteRule ^support/?$             /index.php?op=support                                    [QSA,L]
    RewriteRule ^faqs/?$                /support/                                                [R,L]
    RewriteRule ^random-screenthumb$    /common/screenthumb-rot.php                              [QSA,L]
    RewriteRule ^net-install/?$         /common/net-install.php                                  [QSA,L]
    RewriteRule ^net-install/64$        /common/net-install.php?arch=gsb64                       [QSA,L]
    RewriteRule ^installation/?$        /download/                                               [R,L]
    RewriteRule ^build/?$               https://raw.githubusercontent.com/W0CHP/gsb-build-system/master/build/BUILDING.TXT               [R,L]
    RewriteRule ^irc-rules/?$           /content/irc_rules.txt                                   [QSA,L]
    
#
# error handling
#
ErrorDocument 404 /index.php?op=http_error&errno=404
ErrorDocument 403 /index.php?op=http_error&errno=403
ErrorDocument 401 /index.php?op=http_error&errno=401

#
# set file types & descs.
#
AddType          application/OmniGraffle     .graffle
AddDescription   "OmniGraffle Document"      *.graffle
AddDescription   "PNG Graphic"               *.png
AddDescription   "Portable Document Format"  *.pdf
AddDescription   "LaTeX"                     *.tex
AddDescription   "LaTeX/LyX"                 *.lyx
AddDescription   "Open Document Format"      *.odf
AddDescription   "Open Document Format"      *.odt
AddDescription   "Text File"                 *.txt

#
# set index icons
#
AddIcon  (Back,/images/icons/up.png)               ..
AddIcon  (OmniGraffle,/images/icons/document.png)  *.graffle
AddIcon  (PDF,/images/icons/document.png)          *.pdf
AddIcon  (TEX,/images/icons/document.png)          *.tex
AddIcon  (LYX,/images/icons/document.png)          *.lyx
AddIcon  (ODF,/images/icons/document.png)          *.odf
AddIcon  (ODT,/images/icons/document.png)          *.odt
AddIcon  (TXT,/images/icons/document.png)          *.txt
AddIcon  (PNG,/images/icons/image.png)             *.png

